* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 515px;
}

/* NAVIGATION BAR */
nav {
  width: 100vw;
  height: 70px;
  display: flex;
  padding: 20px 30px;
  box-shadow: 0px 3px 7.45px rgba(0, 0, 0, 0.1);
}

.nav--logo {
  max-width: 100px;
}

/* HERO SECTION */
section {
  padding: 20px;
}

.hero-section {
  display: flex;
  flex-direction: column;
}
.hero--grid {
  align-self: center;
  max-width: 400px;
}

.hero--header {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

/* CARD SECTION */
.card-section {
  width: 176px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.star--icon {
  width: 14px;
  height: 14px;
  border-radius: 0.5px;
}

.text-gray {
  color: #918e9b;
}

.text-bold {
  color: #222222;
  font-weight: 600;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
